<div id="addLinkDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addLinkTitle"
     aria-hidden="true" data-backdrop="static">
    <form action="/links" class="modal-form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 id="addLinkTitle"><%= operation %> a Link</h4>
        </div>
        <div class="modal-body">

            <div class="row-fluid">
                <div class="span4">
                    <label class="checkbox">
                        <input name="noimage" type="checkbox" />
                        No Image
                    </label>

                    <div class="link-image img-rounded img-polaroid">
                        <img src="img/ya.jpg" alt="<%= url %>"/>
                    </div>
                    <label for="tags">Tags</label>
                    <input type="text" class="input-medium" id="tags" name="tags" placeholder="Press enter to add"
                           title="Press enter to add"/>
                    <div class="tags-container"></div>
                </div>
                <div class="span8">
                    <div class="form-inline">
                        <label for="linkUrlEdit">URL</label>
                        <input name="url" id="url" type="text" class="hide" value="<%= url %>"/>
                        <span class="muted url" id="linkUrl"><%= url %></span>
                        <button class="btn-link right" type="button" id="btnEditUrl">Edit</button>
                    </div>
                    <label for="title">Title</label>
                    <input class="input-xlarge" type="text" id="title" name="title" value="<%= title %>"/>
                    <label for="description">Description</label>
                    <textarea class="input-xlarge" rows="6" cols="100" id="description" name="description"><%= description %></textarea>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="reset" data-dismiss="modal" aria-hidden="true" class="btn">Cancel</button>
            <button class="btn btn-primary" type="submit"><%= operation %></button>
        </div>
    </form>
</div>