<li class="link-container">
    <div class="actions btn-group btn-group-vertical">
        <button class="btn btn-link btn-icon" type="button" title="Edit"><i class="icon-edit"></i></button>
        <button class="btn btn-link btn-icon" type="button" title="Delete"><i class="icon-trash"></i></button>
        <button class="btn btn-link btn-icon" type="button" title="Share"><i class="icon-share"></i></button>
    </div>
    <section id="<%= id %>">
        <div class="link-image img-rounded img-polaroid">
            <img src="img/ya.jpg" alt="<%= title %>"/>
        </div>
        <a href="<%= url %>"><%= title %></a>
        <p class="muted"> (<%= url %>)</p>
        <blockquote class="link-description">
            <p><%= description %></p>
        </blockquote>
        <div class="tags-container">
            <a class="label">Success</a>
            <a class="label">Success</a>
            <a class="label">Success</a>
            <a class="label">Success</a>
            <a class="label">Success</a>
        </div>
    </section>
</li>