<li class="link-container">
    <section id="<%= id %>">
        <div class="link-image img-rounded img-polaroid">
            <img src="img/ya.jpg" alt="<%= title %>"/>
        </div>
        <a href="<%= url %>" target="_blank" class="linkUrl"><%= title %></a>
        <p class="muted"> (<%= url %>)</p>
        <!--<blockquote class="link-description">-->
            <pre><%= description %></pre>
        <!--</blockquote>-->
        <div class="tags-container">
        </div>
    </section>
    <hr/>
</li>