.center {
    text-align: center;
}

.logo {
    background: url(../img/remember.png) no-repeat;
    height: 100px;
    width: 165px;
    display: block;
}

.tags-container a.label {
    margin: 0 4px 0 0;
}

.jstree a.label {
    color: white;
    margin: 4px 0 0 0;
}

.label:hover {
    background-color: #468847;
}

.link-image {
    margin: 0 5px 5px 0;
    width: 150px;
    max-height: 80px;
    overflow: hidden;
    float: left;
}

.tags-container {
    margin-top: -10px;
}

.modal-body .tags-container {
    margin-top: 0;
}

.link-container {
    margin-bottom: 20px;
    position: relative;
}

.link-description {
    clear: both;
}

.actions {
    display: none;
    float: left;
    position: absolute;
    left: -30px;
}

.btn-icon {
    padding: 4px;
    background-color: #E6E6E6;
}

.btn-icon:hover {
    background-color: #9fc2db;
    border: 1px solid #000000;
}

.label-add-link {
    width: 60%;
}

.label-search {
    width: 100%;
}

.input-append {
    width: 60%;
}

.filter {
    margin: 0 0 20px 0;
    font-size: 18px;
}

.filter .label {
    margin: 0 4px 0 0;
}

.addLinkError {
    position: absolute;
    margin-top: 8px;
}

.right {
    float: right;
}

.url {
    margin: 0 0 0 10px;
}